*{
    box-sizing: border-box;
}

body{
    background-color: #f6f6f6;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    padding: 0;
    margin: 0;
}

.logo{
    width: 75px;
    border-radius: 50%;

}

.nav-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.open-btn{
    position: fixed;
    left: 10px;
    top: 10px;
}

.close-btn{
     color: #fff;

     position: absolute;
     right: 0;
     top: 0;

     opacity: 0.5;
}

.close-btn:hover{
    color: red;
}

.nav{
    height: 100vh;

    padding: 30px;
    position: fixed;
    left: 0;
    top: 0;

    transform: translateX(-100%);
}

.nav.nav-bg{
    
    background-color:#000;
}


.nav.visible{
    transform: translateX(0);
}

.list-group{
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group li{
    margin: 25px 0;
}

.list-group .list-group-item{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.list-group ul{
    list-style: none;
}



/* 30NB  */